body{
    background-color: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
    padding: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
  th, td {
    padding: 10px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
  }

  th{
      border-bottom: 1px solid black;
}

.tabel{
    display: flex;
    /* padding: 30px; */
}

a.button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    font-size: 17px;
}

a.button:hover{
    color:black;
    background-color:#FFFFFF;
}